html {}

body { 
  margin: 0; padding: 0;
  font-family: Gill Sans, Verdana, Helvetica, sans-serif;
  font-size: 9pt; text-align: center;}

a, a:visited {color: #242;}
a.describe {margin-right: 6px}
#PG { width: 1000px; text-align: left; margin: 10px auto 10px auto;}
#HD { width: 100%; float: left; text-align: center;}
#MD { width: 100%; float: left; margin-top: 10px; background-color: #eee; }
#FT { width: 100%; float: left; margin-top: 10px; 
  color: #335; background-color: #fff; 
  border-top: 1px solid #335; 
  text-align: center;}

span.iri { font-weight: bold }
span.value { font-weight: bold }

#new_srch { margin-top: 40px; margin-bottom: 40px; width: 100%; text-align: center;}

div.expln { margin: 0 100px 5px 100px;}

#res { float: left; clear: left; margin: 5px 0px 0px 0px; width: 800px;}
#res h3 { margin-top: 0; margin-left: 5px;}
#new_srch label.left_txt { margin-right: 10px;}

table.result { clear:left; width: 100%; margin: 3px; font-size: 9pt;}
table.result td { max-width: 350px; overflow: hidden; font-size: 9pt;}

#opl_logo { border: 0; width: 120px; float: left; margin-left: 6px;}
#HD h1 { float:left; margin: 0 0 0 80px;vertical-align: top; color: #335;}

span.descr { font-size: 9pt; color: #557; margin-top: 0;}

#result_nfo { float: left; clear: both; width: 100%; margin-top: 8px; margin-left: 5px; color: #446;}

#fct_nav { 
  float: left; 
  margin-left: 10px;
  margin-top: 4px; 
  padding-left: 3px; 
  width: 186px; 
  border-left: 1px solid #335;}

#fct_nav h3 { margin: 0; padding: 0;}

#fct_nav ul { list-style-type: none; padding: 0; margin: 0;}
#fct_nav ul li { list-style-type: none;}
#fct_nav ul li a { text-decoration: none;}
#fct_nav ul li a:hover { text-decoration: underline;}
#fct_nav ul { margin-top: 8px; }
#fct_nav ul.n2 { border-top: 1px solid #ddd;}

#FT img { border: 0;}

input.num { text-align: right;}

.dlg { background-color: #ddd;}
.dlg .title { margin: 0; 
              text-align: center; 
              background-image: url(/images/dlg_title_bkg.png); 
              border-bottom: 1px inset}
.dlg form { margin: 0; width: 100%;}
.dlg .btn_bar { margin: 0; 
                padding-top: 2ex; 
                width: 100%; height: 6ex; 
                border-top: 1px solid #333; background-color: #ddd; text-align: right; }
.dlg .btn_bar button { margin-right: 4px; }
.dlg .btn_bar input[type="submit"] { margin-right: 6px; }
.dlg .title h2 { font-size: 10pt; margin: 0; color: #333;}
.dlg .expln { margin-left: 120px }
.dlg .fm_sect { margin: 0 10px 15px 10px; border-top: 1px solid #333}
.dlg .fm_sect:first-child { border: 0; margin-top: 20px;}
.dlg .fm_sect h3 { font-size: 9pt; margin: 0}
.dlg label.left_txt { float: left; clear: left; width: 120px;}
.dlg .ctl_expln { margin-left: 120px; font-size: 8pt; font-style: oblique}
 
#opts_ctr {
  width: 100%;
  text-align: center;
  background-color: white; 
}

#opts {
  margin: auto;
  border: 1pt solid #555;
  text-align: left;
  font-size: 9pt;
  width: 650px;
}


#opts input[type="checkbox"] { margin-left: 120px; }

#res .btn_bar { text-align: right; border-top: 1px solid #333; margin-top: 15px; padding-top: 8px;}

div.dbg { 
  display: none; }

/*div.dbg { padding: 10px; background-color: yellow; border: 1px solid black}*/

div#pager { margin-top: 10px; float: right;}
div#pager a { background-color: #ddd; 
              padding: 2px; 
              border: 1px solid #335; 
              padding: 3px 5px 3px 5px; 
              width: auto; 
              text-decoration: none; 
              text-align: center;}

h3#view_info {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10pt;
}

div#top_ctr { 
  font-size: 10pt;
  width: 995px;
  background-color: #ccc;
  margin-top: 0px; padding-top: 4px;
  padding-left: 5px; padding-right: -4px;
}

div.error_msg { margin: 5px; }
div.error_msg h2 {}
div.error_msg div.body {}
div.error_msg div.nav { margin-top: 10px;}
div.error_msg div.diag { font-size: 8pt }
div.error_msg div.diag h3 {}

div.facet_ctr {
  float: left;
  margin-left: 4px;
}

div.facet_ctr:first-child { margin-left: 0;}

.facet_hd { 
  margin: 0; 
  text-align: center;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #666;
  background-color: #aaa;
  background-image: url(/images/dlg_title_bkg.png);}

div.facet { 
  float:left; 
  height: 20em;  
  width: 394px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  background-color: #fff;
  border: 1px inset;
}

div#sparql_link { margin-top: 10px; float: right;}
div#sparql_link a { 
  background-color: #ddd; 
  padding: 2px; 
  border: 1px solid #335; 
  padding: 3px 5px 3px 5px; 
  width: auto; 
  text-decoration: none; 
  text-align: center;}
